@charset "ISO-8859-1";

body {
	background-color: #d3d3d3;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.padding-btm-25 {
	padding-bottom: 25px;
}

.container{
	background-color: white;
	padding-bottom: 25px;
	min-height: 100vh;
}

.table{

}